.pageLayout {
  display: flex;
  position: relative;
  box-align: center;
  align-items: center;
  flex-direction: column;
  box-pack: start;
  justify-content: flex-start;
  flex: 1 1 0%;
  color: white;
  padding: 0 20px;
}

.orderProgressContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 100%;
}

.individualOrderProgress {
  display: flex;
  position: relative;
  min-height: 35px;
  flex-direction: column;
  justify-content: center;
}

.orderProgress {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
  box-sizing: border-box;
}

.orderProgressLabel {
  display: none;
}

.seperator {
  height: 1px;
  color: white;
  background: white;
  min-width: 33%;
}

.activeBullet {
  height: 35px;
  width: 35px;
  background: grey;
  border-radius: 50%;
  position: relative;
  border: 1px solid white;
}

.insideBullet {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: white;
  top: 45%;
  left: 45%;
}

.bullet {
  height: 5px;
  width: 5px;
  background: white;
  margin: 3px;
  border-radius: 50%;
}

.orderProgressLabels {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.orderLabel {
  width: 150px;
  text-align: center;
}

.productNameLarge {
  display: none;
}

.productNameMobile {
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.checkoutLayout {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
  margin-bottom: 50px;
}

.resellItemContainer {
  margin-top: 30px;
  position: relative;
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
}

.checkoutContainer {
  position: relative;
  width: 100%;
  padding: 0px;
}

.contentContainer {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  box-align: center;
  align-items: center;
  box-pack: start;
  justify-content: flex-start;
}

.imageContainer {
  justify-content: center;
  width: 100%;
}

.productImage {
  width: 100%;
  max-height: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-right: 20px;
}

.detailsBlock {
  margin-bottom: 30px;
}

.detailsTitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.detailsContent {
  font-size: 16px;
  color: white;
  font-weight: 700;
}

@media (min-width: 40em) {
  .orderProgressContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    box-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin-bottom: 50px;
  }

  .orderProgress {
    align-items: center;
    width: 500px;
    padding: 0px;
  }

  .orderProgressLabel {
    display: block;
    position: absolute;
    left: -30px;
  }

  .seperator {
    min-width: 200px;
    max-width: 200px;
  }

  .checkoutLayout {
    flex-direction: row;
    padding: 2% 7%;
    max-width: 100%;
  }

  .resellItemContainer {
    position: relative;
    width: 50%;
    padding: 60px;
    padding: 0px;
    box-sizing: border-box;
  }

  .productNameLarge {
    display: none;
  }

  .productNameMobile {
    font-size: 40px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 8px 0px 0px;
    overflow: hidden;
  }

  .productImage {
    width: 100%;
    max-height: 200px;
    height: 200px;
    margin-bottom: 0px;
  }

  .checkoutContainer {
    position: relative;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .detailsContainer {
    margin-right: 40px;
  }

  .resellItemContainer {
    margin-top: 0px;
    position: relative;
    width: 50%;
  }

  .contentContainer {
    flex-direction: row;
  }
}

@media (min-width: 60em) {
  .checkoutContainer {
    position: relative;
    width: 40%;
    padding: 0px;
    margin: 0px;
  }

  .resellItemContainer {
    margin-top: 0px;
    position: relative;
    width: 60%;
  }

  .productNameLarge {
    display: block;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .productNameMobile {
    display: none;
  }

  .productImage {
    max-height: 350px;
    height: 350px;
  }
}
