$hover-shadow: 0 3px 5px -1px rgba(245, 129, 129, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
$productTemplate-border-radius: 4px;

.productTemplate {
  background: #f7f7f7;
  border-radius: $productTemplate-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 250px;
  & > * {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.infoContainer {
    height: 50px;
    width: 100%;
    display: flex;
}

.avatar {
  height: 200px;
  width: 100%;
  & > * {
    border-top-left-radius: $productTemplate-border-radius;
    border-bottom-left-radius: $productTemplate-border-radius;
    width: inherit;
  }
  &:hover {
    -webkit-box-shadow: $hover-shadow;
    box-shadow: $hover-shadow;
  }
  padding: 0;
}

.label {
  padding: 0px 15px 0 10px;
  height: 100%;
  width: 100%;
  text-align: left;
  &:hover {
    background: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: $hover-shadow;
    box-shadow: $hover-shadow;
  }
}

.helperButton {
  background-color: #f2f2f2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 2rem;
  height: 100%;
  max-width: 54px;
  min-width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #fff;
    -webkit-box-shadow: $hover-shadow;
    box-shadow: $hover-shadow;
  }
}
