//  Images

.imageContainer {
    margin: 20px 0 30px 0;
    text-align: center;
  }
  
  .image {
    border-radius: 4px;
    height: 160px;
    width: 160px;
  }
  

.button {
    color: #fff;
    font-size: 1.15rem;
    margin-top: 50px;
    height: 40px;
    width: 120px;
}
  
.uploadButton {
    @extend .button;
    background: grey;
}
