//  Images

.imageContainer {
  margin: 20px 0 30px 0;
  text-align: center;
}

.image {
  border-radius: 4px;
  height: 160px;
  width: 160px;
}

.button {
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  height: 30px;
  width: 80px;
}

.uploadButton {
  @extend .button;
  background: grey;
}
