.mainNavBar {
  top: 0px;
  z-index: 100;
  height: 60px;
}

.navBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px 24px;
}

.menuIcon {
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  color: white;
  fill: white;
  width: 20px;
  height: 18px;
  & > svg {
    height: 20px;
    width: 18px;
    fill: #fff;
  }
  cursor: pointer;
}

.navOverlay {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease 0s;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
  z-index: 3;

  &.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

.overlayCover {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.slidingNavBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 450px;
  max-width: 70%;
  transform: none;
  z-index: 4;
  opacity: 1;
  overflow-x: hidden;
  background: black;
  transition: transform 0.3s ease-in-out 0s;
  background-image: url('../../../src/assets/Images/MainNavBarBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slidingNavBarHidden {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 375px;
  max-width: 70%;
  transform: translate(-100vw, 0px);
  z-index: 0;
  opacity: 0;
  overflow-x: hidden;
  background: black;
  transition: opacity 0s linear 0.4s, transform 0.3s ease-in-out 0s;
}

// New Styling

.slidingNavBarOverlay {
  background: #212121;
  opacity: 0.9;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.closeSideBarButton {
  width: 100%;
  text-align: right;
  cursor: pointer;
  & > svg {
    height: 28px;
    width: 28px;
    fill: white;
    stroke-width: 3;
    padding: 10px;
  }
}

.authButtonsContainer {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.authButton {
  width: 140px;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}

.logoutButtonContainer {
  margin-top: auto;
  width: 100%;
  margin: auto 0 40px 0px;
  display: flex;
  justify-content: space-around;
}

.userLink {
  width: 140px;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.navLinkTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.navLink {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 20px;

  & > svg {
    width: 20px;
    height: 20px;
    fill: white;
    stroke-width: 3;
    margin-right: 10px;
  }
}

.navLinkActive {
  text-decoration: underline;
}

.navLinkImg {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.navLinkContent {
  font-size: 20px;
}

// End Of New Styling

.sideBarNavLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 15px;
  line-height: 1.43;
  letter-spacing: 0px;
  text-transform: capitalize;
  padding: 8px 24px;
  border-bottom: 1px solid rgb(222, 222, 222);
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

.sideBarAuthLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  line-height: 1.43;
  text-transform: capitalize;
  padding: 8px 24px;
  border-bottom: 1px solid rgb(222, 222, 222);
  text-decoration: none;

  & > button {
    font-size: 15px;
    margin-right: 20px;
  }
}

.loggedIn {
  height: 60px;
  line-height: 1.43;
  padding: 8px 24px;
  border-bottom: 1px solid rgb(222, 222, 222);
  text-decoration: none;
  color: white;
}

.sideBarNavLinkActive {
  text-decoration: underline;
}

.mainHeaderNavLink {
  display: none;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  margin-right: 32px;
  color: #808080;
  text-decoration: none;
}

.mainHeaderNavLinkActive {
  color: white;
  text-decoration: underline;

  & > svg {
    fill: white;
  }
}

.navLinkText {
  font-size: 15px;
  line-height: 1.43;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.logo {
  line-height: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.searchContainer {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 364px;
  flex: 0 1 364px;
  pointer-events: auto;
  -webkit-app-region: no-drag;
}

.searchInputContainer {
  display: block;
  margin: 0;
}

.searchInput {
  color: #000;
  padding: 6px 48px;
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 500px;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
}

.searchInputOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
}

.searchLogo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #121212;

  & > svg {
    height: 24;
    width: 24;
  }
}

.cancelSearchButton {
  pointer-events: auto;
  color: #121212;
  background-color: transparent;
  border: 0;
  padding: 0;

  & > svg {
    height: 24;
    width: 24;
  }
}

@media (min-width: 40em) {
  .mainNavBar {
    height: 90px;
    border-bottom: none;
  }

  .navBarContent {
    width: calc(100% - 180px);
    height: 90px !important;
    margin: 0px auto;
    padding: 0px;
    transition: all 600ms ease 0s;
  }

  .slidingNavBar {
    left: 0px;
    right: initial;
    transform: none;
  }

  .slidingNavBarHidden {
    left: 0px;
    right: initial;
    transform: translate(-100vw, 0px);
  }

  .logo {
    font-size: 2em !important;
    color: white !important;
    flex: 0 0 auto;
  }

  .searchIcon {
    margin-right: auto;
    margin-left: 30px;
  }

  .logoAndSearchContainer {
    margin-right: auto;
    margin-left: 10px;
  }

  .mainHeaderNavLink {
    display: block;
    transition: color 600ms ease 0s;
  }

  // New Styling
  .authButtonsContainer {
    margin: 40px 0px;
  }

  .navLinkTable {
    padding-top: 60px;
    margin-left: 20px;
  }

  .navLink {
    margin-bottom: 30px;

    & > svg {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
  }

  .navLinkContent {
    font-size: 25px;
  }

  .authButtonsContainer {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .authButton {
    width: 140px;
    height: 55px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 25px;
    color: white;
  }

  .userLink {
    font-size: 25px;
  }
}
