.pageLayout {
  display: flex;
  position: relative;
  box-align: center;
  align-items: center;
  flex-direction: column;
  box-pack: start;
  justify-content: flex-start;
  flex: 1 1 0%;
  background: black;
  color: white;
}

.pageContent {
  min-height: calc(100vh - 90px);
  position: relative;
  width: calc(100% - 180px);
  align-items: center;
}

.pageTitle {
  padding: 2em 20px;
  width: 100%;
}

.algoliaContentWrapper {
  width: 100%;
  margin-top: -20px;
}

.resultsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 40px;
}

@media (min-width: 40em) {
  .pageTitle {
    padding: 4em 20px;
  }

  .shopAll {
    font-size: 32px;
    font-family: Plain;
    line-height: 1.38;
    letter-spacing: 0.1px;
  }

  .algoliaContentWrapper {
    margin-top: 0px;
  }

  .resultsGrid {
    grid-template-columns: repeat(auto-fill, 30%);
  }
}
