$primary: #2f80ed;
$success: #00cc99;
$white: #fff;
$black: #000;

$shadow1: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
$shadow2: 0 3px 5px -1px rgba(245, 129, 129, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
