.container {
  padding: 5%;
}

.title {
  font-size: 22px;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.form {
  padding: 0px;
}

.formInputLabel {
  color: #919496;
  font-weight: 400;
  margin-bottom: 10px;
}

.formInput {
  font-family: Baskerville;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: inherit;
  text-transform: none;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: white;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid white;
  outline: 0;
  margin: 0;
  padding: 0px 20px;
  resize: vertical;
  background: transparent !important;
  background-image: none;
  box-shadow: none;
  -webkit-border-radius: 0px;

  ::placeholder {
    color: #919496;
    font-family: Baskerville;
    padding: 0px;
  }
}

.countrySelector {
  font-family: Baskerville;
  -webkit-box-align: center;
  align-items: center;
  background: transparent !important;
  background-image: none;
  border: 0px;
  border-bottom: 2px solid white !important;
  display: -webkit-box;
  display: flex;
  height: 40px;
  outline: none !important;
  padding: 0 12px;
  position: relative;
  font-size: 16px;
  color: white;
  -webkit-border-radius: 0px;

  &::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
    border-radius: 1px;
    border-top: 6px solid #687282;
    content: '';
    height: 0;
    position: absolute;
    right: 12px;
    width: 0;
  }
}

// .countrySelect {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background: transparent;
//   border: 0;
//   cursor: pointer;
//   -webkit-box-flex: 1;
//   flex: 1;
//   font-size: 1em;
//   height: 100%;
//   margin: 0 -12px 0 -42px;
//   outline: none;
//   padding-left: 42px;
//   color: white;
//   font-family: Baskerville;
// }

.buttonsRow {
  margin-top: 40px;
  padding: 30px 0 0;
  justify-content: center;
  display: flex;
}

.saveButton {
  padding: 10px;
  font-family: Baskerville;
  background: #919496;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.stripeMessage {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 20px;
}

.cancelButton {
  margin-right: 20px;
  float: right !important;
  color: white;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 10px 32px;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
}

.validUsername {
  color: green;
  margin-top: 10px;
  font-size: 13px;
}

.invalidUsername {
  color: red;
  margin-top: 10px;
  font-size: 13px;
}

.shippingList {
  width: 80%;
  max-height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 24px auto 0px;
  padding: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.shippingListItemContent {
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.addNewButton {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  margin: 24px 0px;
  color: white;
  text-decoration: underline;
}

.shippingList {
  width: 80%;
  max-height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 24px auto 0px;
  padding: 0px;
}

.shippingListItem {
  padding: 20px;
}

.ListItemButton {
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  color: white;

  & > svg {
    fill: white;
    margin-right: 10px;
  }
}

.twoInputsContainer {
  display: flex;
  justify-content: space-between;
}

.halfWidthInput {
  position: relative;
  width: 45%;
}

.countrySelect {
  width: 100%;
}

.regionSelect {
  width: 100%;
}

.submitButton {
  padding: 10px;
  width: 100%;
  font-family: Baskerville;
  background: #919496;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.inputSelector {
  font-family: Baskerville;
  -webkit-box-align: center;
  align-items: center;
  background: transparent !important;
  background-image: none;
  border: 0px;
  border-bottom: 2px solid white !important;
  display: -webkit-box;
  display: flex;
  height: 40px;
  outline: none !important;
  padding: 0 12px;
  position: relative;
  font-size: 16px;
  color: white;
  -webkit-border-radius: 0px;

  &::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
    border-radius: 1px;
    border-top: 6px solid #687282;
    content: '';
    height: 0;
    position: absolute;
    right: 12px;
    width: 0;
  }
}

@media (min-width: 40em) {
  .form {
    padding: 20px;
  }

  .buttonsRow {
    justify-content: space-around;
    display: flex;
  }

  .stripeMessage {
    font-size: 20px;
  }
}
