.settingsContainer {
  display: flex;
}

.sidebarContainer {
  display: none;
  width: 20%;
}

.sidebar {
  box-sizing: border-box;
}

.mobileTitle {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.navList {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  list-style: none;
  &::before {
    content: ' ';
    display: table;
  }
}

.navBarItem {
  color: grey;
  //   padding: 15px 15px 15px 30px;
  height: 60px;
  padding: 0px 20px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.005);
  border-top: 1px solid rgba(0, 0, 0, 0.025);
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 600;

  &::before {
    background-color: transparent;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 5px;
  }

  &.active {
    color: white;

    &::before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 5px;
      background-color: white;
    }
  }
}

.dropDownContainer {
  padding: 20px;
  box-sizing: border-box;
}

.dropdownMenuItem {
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;

  & > svg {
    margin-right: 20px;
  }
}

.contentContainer {
  width: 100%;
}

@media (min-width: 40em) {
  .mobileTitle {
    font-size: 45px;
    display: none;
    margin-bottom: 20px;
  }

  .contentContainer {
    width: 75%;
  }
  .sidebarContainer {
    display: block;
    width: 20%;
  }

  .dropDownContainer {
    display: none;
  }
}
