.confirmArchiveModalBox {
    height: 310px;
    width: 400px;
  }
  
  .confirmArchiveModalContainer {
    padding: 10px 20px;
  }

  .confirmArchiveTitle {
    font-size: 1.4rem;
    line-height: 30px;
    margin: 0px 0 20px 0;
  }

  .confirmArchiveButton {
    background: #f15d5c;
    font-size: 1.2rem;
    color: #fff;
    height: 40px;
    margin-top: 30px;
    width: 100%;
  }