.pageLayout {
  display: flex;
  position: relative;
  box-align: center;
  align-items: center;
  flex-direction: column;
  box-pack: start;
  justify-content: flex-start;
  flex: 1 1 0%;
  background: black;
  color: white;
}

.pageContent {
  min-height: calc(100vh - 90px);
  position: relative;
  width: calc(100% - 180px);
  align-items: center;
}

.profileContainer {
  padding: 1em 20px 0em 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.editProfileButton {
  width: 150px;
  height: 30px;
  background: #938cfc;
  color: white;
  font-weight: 600;
}
