.pageLayout {
  display: flex;
  position: relative;
  box-align: center;
  align-items: center;
  flex-direction: column;
  box-pack: start;
  justify-content: flex-start;
  flex: 1 1 0%;
  color: white;
}

.pageContent {
  min-height: calc(100vh - 90px);
  position: relative;
  width: 100%;
  align-items: center;
}

.profileContainer {
  padding: 1em 20px 0em 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.editProfileButton {
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 10px 32px;
  color: #fff;
  background-color: #938cfc;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  margin-right: 20px;
}

@media (min-width: 60em) {
  .pageContent {
    min-height: calc(100vh - 90px);
    width: calc(100% - 180px);
  }
}
