.ordersContainer {
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderStatus {
  font-family: Baskerville;
  background: #919496;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  padding: 8px;
  margin: 5px 0px;
}
// .orderSelectionContainer {
//   display: flex;
//   align-items: stretch;
//   border: 0;
//   border-radius: 0;
//   margin: 0;
// }

.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}

.mobileTitle {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.orderSelectionContainer {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  margin: 0;
  justify-content: center;
}

.orderSelectionLabel {
  display: flex;
  justify-content: left;
  box-align: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0px;
  height: 60px;
  color: white;
  font-size: 16px;
  border-width: 0px;
  cursor: pointer;
  margin: 0px 10px;
}

.selectionButton {
  padding: 16px 0;
  position: relative;
  flex: 1;
  padding: 21px 0 20px;
  border: 0;
  background-color: black;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: font-weight, background-color, color;
  border: 1px solid #e1e1e1;

  &.activeSelection {
    background-color: rgb(34, 35, 32) !important;
    color: white !important;
    border-bottom: 2px solid white;
    // border-bottom: 1px solid #e1e1e1;
  }
}

.seperator {
  display: none;
}

.orderItem {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.productImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orderDetailLabel {
  font-size: 11px;
  margin-bottom: 10px;
  color: #919496;
}

.orderItemActive {
  padding: 0;
  margin: 20px 0;
  border: 1px solid #b3b3b3;
  align-items: stretch;
  flex-direction: column;
  border-radius: 1.5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-top: 1px solid #b3b3b3;
}

.noMessages {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.unreadAlert {
  display: none;
}

@media (min-width: 40em) {
  .orderItem {
    width: 100%;
    height: 150px;
  }

  .orderSelectionLabel {
    font-size: 22px;
  }

  .mobileTitle {
    display: none;
  }
  .orderItem {
    margin-bottom: 40px;
  }

  .unreadAlert {
    display: block;
    top: 0px;
    right: 0px;
    color: white;
    background-color: #c00;
    width: 10px;
    min-width: 10px;
    min-height: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 10px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    margin-left: 20px;
  }
  .orderDetailLabel {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .productImage {
    width: 150px;
    height: 100px;
    margin-right: 20px;
  }

  .orderStatus {
    padding: 10px;
    font-family: Baskerville;
    background: #919496;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
  }

  .statusContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .orderDetailsContainer {
    display: flex;
    width: 100%;
  }
}
