.gridCellWrapper {
  position: relative;
  box-sizing: border-box;
}

.gridCellContent {
  background: #222320;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.gridCell {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 15px 22px 20px;
}

.resellerContainer {
  padding: 20px;
  background: #222320;
  color: white;
  display: flex;
  margin-bottom: 20px;
}

.resellerImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.resellerInfo {
  display: flex;
  flex-direction: column;
}

.resellerStats {
  display: flex;
  justify-content: flex-start;
}

.statItem {
  display: flex;
  margin-right: 30px;

  & > svg {
    fill: white;
    margin-right: 5px;
  }
}

.buttonContainer {
}

.followButton {
  width: 100px;
  height: 30px;
  background: #938cfc;
  color: white;
  font-weight: 600;
}
