.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 40px;
}

.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterSummary {
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 20px;
}

.viewTypeSelectionContainer {
  display: flex;
}

.viewTypeButton {
  border: 1px solid #888;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  & > svg {
    width: 15px;
    height: 15px;
    fill: #888;
  }

  &.active {
    border: 1px solid white;

    & > svg {
      fill: white;
    }
  }
}

@media (min-width: 40em) {
  .gridView {
    grid-template-columns: repeat(auto-fill, 23%);
    grid-gap: 2vw;
  }
}
