body {
  margin: 0;
  font-family: Baskerville;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0 !important;
  padding: 0;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0;
  outline: 0;
  border-radius: 4px;
  letter-spacing: 0.1px !important;
  background: none;
  border: none;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  box-shadow: transparent;
  background: transparent !important;
}

input,
textarea {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* appearance: none; */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  background: white;
  border: 0;
  outline: 0;
  padding: 0;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-family: Baskerville;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-block-start: none;
  margin-block-end: none;
  padding-inline-start: none;
}

a {
  text-decoration: none;
  color: white;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

p {
  margin: 0px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
