body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0 !important;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0;
  outline: 0;
  border-radius: 4px;
  letter-spacing: 0.1px !important;
  background: none;
  border: none;
}

input,
textarea {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* appearance: none; */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  background: white;
  border: 0;
  outline: 0;
  padding: 0;
  font-family: Druk Wide Web, futura-pt, HelveticaNeue-Light,
    Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-block-start: none;
  margin-block-end: none;
  padding-inline-start: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0px;
}
